<template>
    <div class="q-pa-md">
        <div class="col-12 q-px-md">
            <h4>卡片管理
                <q-btn v-if="ptcg.userStatus.loggedIn" label="登出" color="primary" @click="signOut(true)" />
            </h4>

        </div>

        <div v-if="!ptcg.userStatus.loggedIn" id="login">
            <q-card class="my-card" style="width:500px;">
                <q-card-section>
                    <div style="font-size: large;">登入</div>
                </q-card-section>

                <q-separator />

                <q-card-section>
                    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                        <q-input filled v-model="ptcg.userStatus.userId" id="userId" label="帳號" lazy-rules
                            :rules="[val => val && val.length > 0 || '請輸入帳號']" />

                        <q-input v-model="ptcg.userStatus.password" id="password" label="密碼" filled
                            :type="isPwd ? 'password' : 'text'" :rules="[val => val && val.length > 0 || '請輸入密碼']">
                            <template v-slot:append>
                                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                                    @click="isPwd = !isPwd" />
                            </template>
                        </q-input>

                        <div>
                            <q-btn label="登入" type="submit" color="primary" />
                            <q-btn label="重設" type="reset" color="primary" flat class="q-ml-sm" />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </div>

        <div v-if="ptcg.userStatus.loggedIn" id="content">
            <div class="row">
                <div class="col-12 q-pa-md">
                    <q-card>
                        <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary"
                            align="justify" narrow-indicator>
                            <q-tab name="importCard" label="匯入卡片" />
                            <q-tab name="patchCard" label="修正卡片" />
                        </q-tabs>

                        <q-separator />

                        <q-tab-panels v-model="tab" animated>
                            <q-tab-panel name="importCard">
                                <q-card-section>
                                    <div class="text-h6">匯入卡片</div>
                                </q-card-section>
                                <q-card-section>
                                    <q-file filled bottom-slots label="按一下這裡選擇檔案或把檔案拖放至此" counter max-files="1"
                                        v-model="ptcg.cardDataFile" accept=".txt"
                                        :readonly="ptcg.uploadCardProgress !== 0 && ptcg.uploadCardProgress !== 1"
                                        @update:model-value="onUploadCardData(ptcg.cardDataFile)">

                                        <template v-slot:prepend>
                                            <q-icon name="cloud_upload" @click.stop.prevent />
                                        </template>

                                        <template v-slot:hint>
                                            上傳卡片資料檔案
                                        </template>

                                        <template v-slot:file="{ file: file }">
                                            <q-chip class="full-width q-my-xs" square>
                                                <q-linear-progress class="absolute-full full-height"
                                                    :value="ptcg.uploadCardProgress" color="green-2"
                                                    track-color="grey-2">

                                                    <div class="absolute-full flex flex-center">
                                                        <q-badge color="white" text-color="primary"
                                                            :label="`${Math.round(ptcg.uploadCardProgress *
                                                            100)}% (${ptcg.uploadCardFinished}/${ptcg.uploadCardTotal})`" />
                                                    </div>
                                                </q-linear-progress>
                                                <q-avatar>
                                                    <q-icon name="insert_drive_file" />
                                                </q-avatar>
                                                <div class="ellipsis relative-position">
                                                    {{ file.name }}
                                                </div>

                                                <q-tooltip>
                                                    {{ file.name }}
                                                </q-tooltip>
                                            </q-chip>
                                        </template>
                                    </q-file>

                                    <q-card v-if="ptcg.uploadCardMessages.length > 0" class="q-mt-sm" flat bordered>
                                        <q-card-section>
                                            最新進度: {{ ptcg.uploadCardMessages[ptcg.uploadCardMessages.length - 1] }}
                                        </q-card-section>
                                    </q-card>
                                    <q-virtual-scroll v-if="ptcg.uploadCardMessages.length > 0" class="q-mt-sm"
                                        style="max-height: 50vh;" :items="ptcg.uploadCardMessages" separator
                                        v-slot="{ item, index }">
                                        <q-item :key="index">
                                            <q-item-section>
                                                <q-item-label>
                                                    {{ item }}
                                                </q-item-label>
                                            </q-item-section>
                                        </q-item>
                                    </q-virtual-scroll>
                                </q-card-section>
                            </q-tab-panel>

                            <q-tab-panel name="patchCard">
                                <q-card-section>
                                    <div class="text-h6">修正卡片</div>
                                </q-card-section>
                                <q-card-section>
                                    <q-btn class="full-width" color="primary" @click="onPatchCardData()"
                                        v-if="ptcg.patchCardMessages === undefined || ptcg.patchCardMessages.length <= 0">
                                        <div
                                            v-if="ptcg.patchCardMessages === undefined || ptcg.patchCardMessages.length <= 0">
                                            按一下開始修正卡片資料
                                        </div>
                                    </q-btn>
                                    <q-linear-progress v-if="ptcg.patchCardMessages.length > 0" class="q-py-md"
                                        :value="ptcg.patchCardProgress" color="green-2" track-color="grey-2">

                                        <div class="absolute-full flex flex-center">
                                            <q-badge color="white" text-color="primary" :label="`${Math.round(ptcg.patchCardProgress *
                                            100)}% (${ptcg.patchCardFinished}/${ptcg.patchCardTotal})`" />
                                        </div>
                                    </q-linear-progress>

                                    <q-card v-if="ptcg.patchCardMessages.length > 0" class="q-mt-sm" flat bordered>
                                        <q-card-section>
                                            最新進度: {{ ptcg.patchCardMessages[ptcg.patchCardMessages.length - 1] }}
                                        </q-card-section>
                                    </q-card>
                                    <q-virtual-scroll v-if="ptcg.patchCardMessages.length > 0" class="q-mt-sm"
                                        style="max-height: 50vh;" :items="ptcg.patchCardMessages" separator
                                        v-slot="{ item, index }">
                                        <q-item :key="index">
                                            <q-item-section>
                                                <q-item-label>
                                                    {{ item }}
                                                </q-item-label>
                                            </q-item-section>
                                        </q-item>
                                    </q-virtual-scroll>
                                </q-card-section>
                            </q-tab-panel>
                        </q-tab-panels>
                    </q-card>
                </div>
            </div>
        </div>
    </div>
    <div id="container"></div>
</template>

<script>
import { ref } from 'vue'
import { usePtcgStore } from '../stores/ptcg-store'
// import { Dialog } from 'quasar'
import { Notify } from 'quasar'
import { exportFile } from 'quasar'
import { LocalStorage } from 'quasar'
// import { SessionStorage } from 'quasar'
const AuthenController = require('../lib/AuthenController.js');
const StrapiController = require('../lib/StrapiController.js');
const auth = new AuthenController(process.env.STRAPI_URL);
const strapi = new StrapiController(process.env.STRAPI_URL);

let ptcg = usePtcgStore();

ptcg.userStatus = {}

// const dialog = (message, title) => {
//     Dialog.create({
//         title: title ? title : '提示',
//         message: message
//     })
// }

const notify = (message, type) => {
    Notify.create({
        type: type ? type : 'info',
        message: message
    })
}

let exportTable = (fileName, data) => {
    // naive encoding to csv format
    const content = JSON.stringify(data, null, 4)

    const status = exportFile(
        `${fileName}.json`,
        content,
        'text/json'
    )

    if (status !== true) {
        notify('Browser denied file download...', 'negative')
    }
    return
}

let loadCard = () => {
    let params = {
        page: 1,
        pageSize: 100,
    }
    strapi.GetCard(params)
        .then(cards => {
            if (cards === undefined) {
                notify('獲取卡片資料失敗', 'negative');
                return;
            }

            ptcg.cards = cards;
        })
}

let isTextImage = (data) => {
    return data === 'Image'
}

let onUploadCardData = (value) => {
    var rawFile = new XMLHttpRequest();
    rawFile.open('GET', URL.createObjectURL(value), true);
    rawFile.onreadystatechange = function () {
        if (rawFile.readyState === 4) {
            if (rawFile.status === 200 || rawFile.status == 0) {
                let ref = {
                    total: undefined,
                    finished: 0,
                    progress: 0,
                    status: 'pending',
                    input: rawFile.responseText,
                    output: [],
                }
                ptcg.uploadCardTotal = '?'
                ptcg.uploadCardFinished = '?'
                ptcg.uploadCardProgress = 0
                ptcg.uploadCardMessages = []
                strapi.ImportCardFromTxt(ref, ptcg.userStatus.jwt)

                let interval = setInterval(() => {
                    while (ref.output.length > 0) {
                        ptcg.uploadCardMessages.push(ref.output.shift())
                        ptcg.uploadCardTotal = ref.total
                        ptcg.uploadCardFinished = ref.finished
                        ptcg.uploadCardProgress = ref.progress
                    }
                    if (ref.status === 'done') {
                        clearInterval(interval)
                    }
                }, 100)
            }
        }
    }
    rawFile.send(null);

}

let onPatchCardData = () => {
    let ref = {
        total: undefined,
        finished: 0,
        progress: 0,
        status: 'pending',
        output: [],
    }
    ptcg.patchCardTotal = '?'
    ptcg.patchCardFinished = '?'
    ptcg.patchCardProgress = 0
    ptcg.patchCardMessages = []
    strapi.PatchCards(ref, ptcg.userStatus.jwt)

    let interval = setInterval(() => {
        while (ref.output.length > 0) {
            ptcg.patchCardMessages.push(ref.output.shift())
            ptcg.patchCardTotal = ref.total
            ptcg.patchCardFinished = ref.finished
            ptcg.patchCardProgress = ref.progress
        }
        if (ref.status === 'done') {
            clearInterval(interval)
        }
    }, 100)
}

let onSubmit = () => {
    if (!ptcg.userStatus.loggedIn) {
        signIn()
    }
}

let onReset = () => {
    ptcg.userStatus.userId = null
    ptcg.userStatus.password = null
    saveToLocalStorge()
}

let saveToLocalStorge = () => {
    LocalStorage.set('ptcg.userStatus', ptcg.userStatus)
}

let loadFromLocalStorge = () => {
    if (LocalStorage.has('ptcg.userStatus')) {
        ptcg.userStatus = LocalStorage.getItem('ptcg.userStatus')
        if (ptcg.userStatus.loggedIn) {
            console.log(`Checking jwt: ${ptcg.userStatus.jwt}`)
            auth.checkJwt(ptcg.userStatus.jwt)
                .then(result => {
                    if (!result) {
                        signOut()
                        notify('認證階段已過期, 請重新登入', 'warning')
                        signIn()
                    }
                })
        }
    } else {
        ptcg.userStatus = {
            loggedIn: false,
            jwt: undefined,
            userId: undefined,
            password: undefined,
        }
    }
}

let signIn = () => {
    auth.getJwtToken(ptcg.userStatus.userId, ptcg.userStatus.password)
        .then(jwt => {
            if (jwt === undefined) {
                notify('登入失敗', 'negative')
                return
            }

            // ptcg.userStatus.password = undefined
            console.log(jwt)
            ptcg.userStatus.jwt = jwt
            ptcg.userStatus.loggedIn = true
            saveToLocalStorge()

            notify('登入成功', 'positive')
        })
}

let signOut = (clearPassword) => {
    ptcg.userStatus.jwt = undefined
    ptcg.userStatus.loggedIn = false
    if (clearPassword) {
        ptcg.userStatus.password = undefined
        notify('登出成功', 'positive')
    }

    saveToLocalStorge()
}

const columns = [
    {
        name: 'CardId',
        required: true,
        label: 'ID',
        align: 'left',
        field: rows => rows.CardId,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Name',
        required: true,
        label: '卡名',
        align: 'left',
        field: rows => rows.Name,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Category',
        required: true,
        label: '類別',
        align: 'left',
        field: rows => rows.Category,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Image',
        required: true,
        label: '圖片',
        align: 'left',
        field: rows => rows.Image,
        format: val => `${val}`,
        sortable: true
    },
];

loadFromLocalStorge()
loadCard()

export default {
    setup() {
        return {
            exportTable,
            loadCard,
            isTextImage,
            onUploadCardData,
            onPatchCardData,
            onSubmit,
            onReset,
            signOut,
            isPwd: ref(true),
            tab: ref('importCard'),
            columns,
            ptcg,
            initialPagination: {
                sortBy: 'desc',
                descending: false,
                page: 1,
                rowsPerPage: 20
                // rowsNumber: xx if getting data from a server
            },
        }
    },
}
</script>
