<template>
    <div @drop="onDrop($event, 'space')" @dragover.prevent @dragenter.prevent>
        <q-page-container class="" style="padding: 0px">
            <q-page>
                <div id="main zone" class="">
                    <q-item class="row">
                        <h4>牌組管理</h4>
                    </q-item>

                    <div class="row q-pt-sm">
                        <div class="col q-px-md">
                            <q-input id="userName" outlined v-model="ptcg.deckCode" label="牌組代碼" />
                        </div>
                        <div class="col-2 q-px-md">
                            <q-btn color="primary" class="full-width" label="載入牌組" size="lg"
                                @click="loadDeck(ptcg.deckCode)" />
                        </div>
                        <div class="col-2 q-px-md">
                            <q-btn color="primary" class="full-width" label="新增牌組" size="lg" @click="newDeck()" />
                        </div>
                    </div>

                    <div class="row q-pt-sm">
                        <div class="col q-px-md ">
                            <q-btn-dropdown id="selectedDeck" class="full-width" color="primary" size="md"
                                :label="`目標牌組: ${ptcg.selectedDeck.name}`">
                                <q-list>
                                    <q-item v-for="deck in ptcg.decks" :key="deck.url" clickable v-close-popup
                                        @click="onDeckSelected(deck)">
                                        <q-item-section>
                                            <q-item-label>{{ deck.name }}</q-item-label>
                                        </q-item-section>
                                        <q-item-section side>
                                            <q-btn flat round color="primary" icon="remove"
                                                @click="onDeckRemove($event, deck)">
                                                <q-tooltip>從列表移除</q-tooltip>
                                            </q-btn>
                                        </q-item-section>
                                    </q-item>
                                </q-list>
                            </q-btn-dropdown>
                        </div>
                        <div class="col-2 q-px-md">
                            <q-btn color="primary" class="full-width" label="測試牌組" size="md"
                                @click="createRoomWithSingleMode()" />
                        </div>
                        <div class="col-2 q-px-md">
                            <q-btn v-if="ptcg.deckBuilderUiMode === 1" color="primary" size="md" class="full-width"
                                no-caps style="margin-right:10px" @click="changeDeckBuilderUiMode(2)">
                                <q-icon left name="map" />
                                <div>顯示模式 1</div>
                            </q-btn>
                            <q-btn v-if="ptcg.deckBuilderUiMode === 2" color="primary" size="md" class="full-width"
                                no-caps style="margin-right:10px" @click="changeDeckBuilderUiMode(1)">
                                <q-icon left name="map" />
                                <div>顯示模式 2</div>
                            </q-btn>
                        </div>
                    </div>

                    <div class="row" padding>
                        <!-- <q-scroll-area style="height: 83vh;width:100vw;"> -->
                        <div class="col-12 q-pa-md">
                            <!-- // Deck table // -->
                            <q-table v-if="ptcg.deckBuilderUiMode === 1" :rows="ptcg.selectedDeck.cards"
                                :columns="deckColumns" :pagination="deckPagination" :title="ptcg.selectedDeck.name" grid
                                grid-header :rows-per-page-options="[10]" no-data-label="空的卡組"
                                no-results-label="沒有任何符合條件的卡片" :filter="deckFilter" @drop="onDrop($event, 'deck')"
                                @dragover.prevent @dragenter.prevent>

                                <template v-slot:top-left>
                                    <div class="q-gutter-md row items-start">
                                        <q-input debounce="300" v-model="ptcg.selectedDeck.name" label="牌組名稱"
                                            :disable="ptcg.selectedDeck.orgDeckCode === undefined" placeholder="牌組名稱"
                                            style="margin-right:10px">
                                        </q-input>
                                        <q-input debounce="300" v-model="ptcg.selectedDeck.deckCode" label="牌組代碼"
                                            readonly placeholder="牌組代碼" style="margin-right:10px">
                                            <template v-slot:append>
                                                <q-btn round dense flat icon="content_copy"
                                                    @click="copyToClipboard(ptcg.selectedDeck.deckCode)" />
                                            </template>
                                        </q-input>
                                    </div>
                                </template>

                                <template v-slot:top-right>
                                    <q-input borderless dense debounce="300" v-model="deckFilter"
                                        :disable="isNewDeck(ptcg.selectedDeck)" placeholder="搜尋"
                                        style="margin-right:10px">
                                        <template v-slot:append>
                                            <q-icon name="search" />
                                        </template>
                                    </q-input>
                                    <q-btn color="primary" :label="ptcg.selectedDeck.expanded ? '合併' : '展開'" no-caps
                                        style="margin-right:10px" @click="toggleSelectedDeckFold()" />
                                    <q-btn color="primary" label="儲存" icon-right="save" no-caps
                                        style="margin-right:10px" :disable="!ptcg.selectedDeck.edited"
                                        @click="uploadDeck(ptcg.selectedDeck)" />
                                    <q-btn color="primary" icon-right="archive" label="匯出至 json" no-caps
                                        style="margin-right:10px"
                                        @click="exportTable(ptcg.selectedDeck.name, ptcg.selectedDeck)" />
                                </template>

                                <template v-slot:item="props">
                                    <div class="q-pa-xs" draggable="true"
                                        @dragstart="startDrag($event, 'AddRemoveCard', 'deck', props.row)">
                                        <q-card>
                                            <q-img :src="props.row.Card.Image" :fit="`contain`"
                                                style="width:90px;height:500;">

                                                <div v-if="!ptcg.selectedDeck.expanded"
                                                    class="absolute-bottom text-subtitle1 text-center no-padding">
                                                    {{ props.row.Count }}
                                                </div>

                                                <template v-slot:error>
                                                    <q-img
                                                        src="https://ptcgworld.blob.core.windows.net/miscellaneous/%E7%81%B0%E5%BA%95.png"
                                                        :fit="`contain`" style="width:90px;height:500;">
                                                    </q-img>
                                                </template>
                                            </q-img>
                                            <q-tooltip>
                                                <div class="text-center">
                                                    {{ props.row.Card.Name }}
                                                </div>
                                                <div class="text-center">
                                                    {{ props.row.Card.CardId }}
                                                </div>
                                            </q-tooltip>
                                            <q-popup-proxy>
                                                <div v-on:vnode-mounted="onCardRowClick(props.row.Card)"></div>
                                            </q-popup-proxy>
                                            <q-popup-proxy context-menu>
                                                <div v-on:vnode-mounted="onDeckRowRightClick(props.row)"></div>
                                            </q-popup-proxy>
                                        </q-card>
                                    </div>
                                </template>
                            </q-table>

                            <!-- // Card table // -->
                            <q-table v-if="ptcg.deckBuilderUiMode === 2" :rows="ptcg.cards" row-key="CardId"
                                :columns="cardColumns" v-model:pagination="ptcg.objectRef.cardListObj.pagination"
                                :filter="ptcg.objectRef.cardListObj.filter" v-model:fullscreen="isCardListFullScreen"
                                no-data-label="沒有任何卡片" @request="onCardListRequest"
                                :loading="ptcg.objectRef.cardListObj.cardLoading" no-results-label="沒有任何符合條件的卡片"
                                title="卡片列表" :rows-per-page-options="[10, 25, 50, 75, 100]" virtual-scroll
                                virtual-scroll-slice-size="10" binary-state-sort grid grid-header
                                @drop="onDrop($event, 'cardList')" @dragover.prevent @dragenter.prevent>

                                <template v-slot:top-right="props">
                                    <q-input borderless dense debounce="500" v-model="ptcg.objectRef.cardListObj.filter"
                                        label="搜尋" style="margin-right:10px">
                                        <template v-slot:append>
                                            <q-icon name="search" />
                                        </template>
                                    </q-input>

                                    <q-input borderless dense debounce="500"
                                        v-model="ptcg.objectRef.cardListObj.nameFilter"
                                        @update:model-value="onCardNameFilterChange" label="卡片名稱"
                                        style="margin-right:10px">
                                        <template v-slot:append>
                                            <q-icon name="search" />
                                        </template>
                                    </q-input>
                                    <q-btn-dropdown color="primary"
                                        :label="`卡包: ${ptcg.objectRef.cardListObj.packFilter.name}`" no-caps
                                        style="margin-right:10px">

                                        <q-list>
                                            <q-item v-for="pack in ptcg.packs" :key="pack.name"
                                                @click="onCardPackFilterClick(pack)" clickable v-close-popup>
                                                <q-item-section>
                                                    <q-item-label>{{ pack.name }}</q-item-label>
                                                </q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-btn-dropdown>
                                    <q-btn-dropdown color="primary"
                                        :label="`屬性: ${ptcg.objectRef.cardListObj.attributeFilter.name}`" no-caps
                                        style="margin-right:10px">

                                        <q-list>
                                            <q-item v-for="attribute in ptcg.attributes" :key="attribute.name"
                                                @click="onCardAttributeFilterClick(attribute)" clickable v-close-popup>
                                                <q-item-section>
                                                    <q-item-label>{{ attribute.name }}</q-item-label>
                                                </q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-btn-dropdown>
                                    <q-btn-dropdown color="primary"
                                        :label="`分類: ${ptcg.objectRef.cardListObj.categoryFilter.name}`" no-caps
                                        style="margin-right:10px">

                                        <q-list>
                                            <q-item v-for="category in ptcg.categories" :key="category.name"
                                                @click="onCardCategoryFilterClick(category)" clickable v-close-popup>
                                                <q-item-section>
                                                    <q-item-label>{{ category.name }}</q-item-label>
                                                </q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-btn-dropdown>
                                    <q-btn flat round dense
                                        :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                                        style="margin-right:10px" @click="props.toggleFullscreen" class="q-ml-md" />
                                </template>

                                <template v-slot:item="props">
                                    <div class="q-pa-xs" draggable="true"
                                        @dragstart="startDrag($event, 'AddRemoveCard', 'cardList', props.row)">
                                        <q-card>
                                            <q-img :src="props.row.Image" :fit="`contain`"
                                                style="width:135px;height:1000;">

                                                <q-tooltip class="bg-grey-9 q-pa-sm">
                                                    <q-item class="no-padding">
                                                        <q-item-section avatar>
                                                            <q-img :src="props.row.Image" :fit="`contain`"
                                                                class="shadow-3" style="width:280px;height:1000;">
                                                            </q-img>
                                                        </q-item-section>
                                                        <q-item-section class="text-h5 text-center">
                                                            <div>
                                                                {{ props.row.Name }}
                                                            </div>
                                                            <div>
                                                                {{ props.row.CardId }}
                                                            </div>
                                                            <div>
                                                                {{ props.row.Attribute }}
                                                            </div>
                                                        </q-item-section>
                                                    </q-item>
                                                </q-tooltip>

                                                <template v-slot:error>
                                                    <div class="absolute-bottom text-subtitle1 text-center no-padding">
                                                        {{ props.row.Name }}
                                                    </div>
                                                    <q-tooltip>
                                                        {{ props.row.CardId }}
                                                    </q-tooltip>
                                                </template>
                                            </q-img>
                                            <q-popup-proxy>
                                                <div v-on:vnode-mounted="onCardRowClick(props.row)"></div>
                                            </q-popup-proxy>
                                            <q-popup-proxy context-menu>
                                                <div v-on:vnode-mounted="onCardRowRightClick(props.row)"></div>
                                            </q-popup-proxy>
                                        </q-card>
                                    </div>
                                </template>
                            </q-table>
                        </div>
                        <!-- </q-scroll-area> -->
                    </div>
                </div>
            </q-page>
        </q-page-container>

        <q-drawer v-model="drawer" show-if-above :width="300" :breakpoint="800" :side="`right`" class="shadow-2">
            <!-- <q-card class="" style="height: 400px">
                <q-img :src="ptcg?.objectRef?.drawer?.selectedCard.Image" :fit="`contain`"
                    style="display: block; margin-left: auto;margin-right: auto;max-width: 300px;max-height: 400px;">

                    <div class="absolute-bottom no-padding">
                        <div class="text-subtitle1 text-center">
                            {{ ptcg?.objectRef?.drawer?.selectedCard.Name }}
                        </div>
                        <div class="text-subtitle1 text-center">
                            {{ ptcg?.objectRef?.drawer?.selectedCard.CardId }}
                        </div>
                    </div>

                    <template v-slot:error>
                        <div class="absolute-bottom no-padding">
                            <div class="text-subtitle1 text-center">
                                {{ ptcg?.objectRef?.drawer?.selectedCard.Name }}
                            </div>
                            <div class="text-subtitle1 text-center">
                                {{ ptcg?.objectRef?.drawer?.selectedCard.CardId }}
                            </div>
                        </div>
                    </template>
                </q-img>
            </q-card> -->
            <q-card>
                <!-- // Card table // -->
                <q-table v-if="ptcg.deckBuilderUiMode === 1" :rows="ptcg.cards" row-key="CardId" :columns="cardColumns"
                    v-model:pagination="ptcg.objectRef.cardListObj.pagination"
                    :filter="ptcg.objectRef.cardListObj.filter" v-model:fullscreen="isCardListFullScreen"
                    no-data-label="沒有任何卡片" @request="onCardListRequest"
                    :loading="ptcg.objectRef.cardListObj.cardLoading" no-results-label="沒有任何符合條件的卡片" title="卡片列表"
                    :rows-per-page-options="[0]" hide-header virtual-scroll virtual-scroll-slice-size="10"
                    binary-state-sort @drop="onDrop($event, 'cardList')" @dragover.prevent @dragenter.prevent>

                    <template v-slot:top-right="props">
                        <q-input borderless dense debounce="500" v-model="ptcg.objectRef.cardListObj.filter" label="搜尋"
                            style="margin-right:10px">
                            <template v-slot:append>
                                <q-icon name="search" />
                            </template>
                        </q-input>

                        <q-input v-if="isCardListFullScreen" borderless dense debounce="500"
                            v-model="ptcg.objectRef.cardListObj.nameFilter" @update:model-value="onCardNameFilterChange"
                            label="卡片名稱" style="margin-right:10px">
                            <template v-slot:append>
                                <q-icon name="search" />
                            </template>
                        </q-input>
                        <q-btn-dropdown v-if="isCardListFullScreen" color="primary"
                            :label="`卡包: ${ptcg.objectRef.cardListObj.packFilter.name}`" no-caps
                            style="margin-right:10px">

                            <q-list>
                                <q-item v-for="pack in ptcg.packs" :key="pack.name" @click="onCardPackFilterClick(pack)"
                                    clickable v-close-popup>
                                    <q-item-section>
                                        <q-item-label>{{ pack.name }}</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>
                        <q-btn-dropdown v-if="isCardListFullScreen" color="primary"
                            :label="`屬性: ${ptcg.objectRef.cardListObj.attributeFilter.name}`" no-caps
                            style="margin-right:10px">

                            <q-list>
                                <q-item v-for="attribute in ptcg.attributes" :key="attribute.name"
                                    @click="onCardAttributeFilterClick(attribute)" clickable v-close-popup>
                                    <q-item-section>
                                        <q-item-label>{{ attribute.name }}</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>
                        <q-btn-dropdown v-if="isCardListFullScreen" color="primary"
                            :label="`分類: ${ptcg.objectRef.cardListObj.categoryFilter.name}`" no-caps
                            style="margin-right:10px">

                            <q-list>
                                <q-item v-for="category in ptcg.categories" :key="category.name"
                                    @click="onCardCategoryFilterClick(category)" clickable v-close-popup>
                                    <q-item-section>
                                        <q-item-label>{{ category.name }}</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>

                        <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                            @click="props.toggleFullscreen" class="q-ml-md" />
                    </template>

                    <template v-slot:body="props">
                        <q-tr :props="props" draggable="true"
                            @dragstart="startDrag($event, 'AddRemoveCard', 'cardList', props.row)">
                            <q-td :key="props.row.Image" class="no-padding">
                                <q-item @click="onCardRowClick(props.row)" clickable v-ripple>
                                    <q-item-section avatar class="no-padding">

                                        <q-img :src="props.row.Image" :fit="`contain`" style="height:50px;width:50px;">

                                            <template v-slot:error>
                                                <div class="absolute-bottom text-subtitle1 text-center no-padding">
                                                    Error
                                                </div>
                                            </template>
                                        </q-img>
                                    </q-item-section>
                                    <q-item-section>
                                        {{ props.row.Name }}
                                    </q-item-section>
                                    <q-item-section v-if="isCardListFullScreen">
                                        {{ props.row.CardId }}
                                    </q-item-section>
                                    <q-item-section v-if="isCardListFullScreen">
                                        {{ props.row.Category }}
                                    </q-item-section>
                                    <q-item-section v-if="isCardListFullScreen">
                                        <q-btn color="primary" label="加入至牌組" no-caps
                                            @click="addCardToDeck(ptcg.selectedDeck, props.row, 1)" />
                                    </q-item-section>
                                    <q-tooltip>
                                        <div class="text-center">
                                            {{ props.row.Name }}
                                        </div>
                                        <div class="text-center">
                                            {{ props.row.CardId }}
                                        </div>
                                    </q-tooltip>
                                    <q-popup-proxy context-menu>
                                        <div v-on:vnode-mounted="onCardRowRightClick(props.row)"></div>
                                    </q-popup-proxy>
                                </q-item>
                            </q-td>
                        </q-tr>
                    </template>
                </q-table>

                <!-- // Deck table // -->
                <q-table v-if="ptcg.deckBuilderUiMode === 2" :rows="ptcg.selectedDeck.cards" :columns="deckColumns"
                    :pagination="deckPagination" :title="ptcg.selectedDeck.name" :rows-per-page-options="[10]"
                    hide-header no-data-label="空的卡組" no-results-label="沒有任何符合條件的卡片" :filter="deckFilter"
                    @drop="onDrop($event, 'deck')" @dragover.prevent @dragenter.prevent>

                    <template v-slot:top-left>
                        <div class="q-gutter-md row items-start">
                            <q-input debounce="300" v-model="ptcg.selectedDeck.name" label="牌組名稱"
                                :disable="ptcg.selectedDeck.orgDeckCode === undefined" placeholder="牌組名稱"
                                style="margin-right:10px">
                            </q-input>
                            <q-input debounce="300" v-model="ptcg.selectedDeck.deckCode" label="牌組代碼" readonly
                                placeholder="牌組代碼" style="margin-right:10px">
                                <template v-slot:append>
                                    <q-btn round dense flat icon="content_copy"
                                        @click="copyToClipboard(ptcg.selectedDeck.deckCode)" />
                                </template>
                            </q-input>
                        </div>
                    </template>

                    <template v-slot:top-right>
                        <q-input borderless dense debounce="300" v-model="deckFilter"
                            :disable="isNewDeck(ptcg.selectedDeck)" placeholder="搜尋" style="margin-right:10px">
                            <template v-slot:append>
                                <q-icon name="search" />
                            </template>
                        </q-input>
                        <q-btn color="primary" :label="ptcg.selectedDeck.expanded ? '合併' : '展開'" no-caps
                            style="margin-right:10px;margin-top:10px" @click="toggleSelectedDeckFold()" />
                        <q-btn color="primary" label="儲存" icon-right="save" no-caps
                            style="margin-right:10px;margin-top:10px" :disable="!ptcg.selectedDeck.edited"
                            @click="uploadDeck(ptcg.selectedDeck)" />
                        <q-btn color="primary" icon-right="archive" label="匯出至 json" no-caps
                            style="margin-right:10px;margin-top:10px"
                            @click="exportTable(ptcg.selectedDeck.name, ptcg.selectedDeck)" />
                    </template>

                    <template v-slot:body="props">
                        <q-tr :props="props" draggable="true"
                            @dragstart="startDrag($event, 'AddRemoveCard', 'deck', props.row)">
                            <q-td :key="props.row.Card.Image" class="no-padding">
                                <q-item @click="onCardRowClick(props.row)" clickable v-ripple>
                                    <q-item-section avatar class="no-padding">

                                        <q-img :src="props.row.Card.Image" :fit="`contain`"
                                            style="height:50px;width:50px;">

                                            <template v-slot:error>
                                                <div class="absolute-bottom text-subtitle1 text-center no-padding">
                                                    Error
                                                </div>
                                            </template>
                                        </q-img>
                                    </q-item-section>
                                    <q-item-section>
                                        {{ props.row.Card.Name }}
                                    </q-item-section>
                                    <q-item-section v-if="!ptcg.selectedDeck.expanded" class="absolute-right">
                                        <q-chip color="grey" class="q-mr-md">
                                            {{ props.row.Count }}
                                        </q-chip>
                                    </q-item-section>
                                    <q-tooltip>
                                        <div class="text-center">
                                            {{ props.row.Card.Name }}
                                        </div>
                                        <div class="text-center">
                                            {{ props.row.Card.CardId }}
                                        </div>
                                    </q-tooltip>
                                    <q-popup-proxy>
                                        <div v-on:vnode-mounted="onCardRowClick(props.row.Card)"></div>
                                    </q-popup-proxy>
                                    <q-popup-proxy context-menu>
                                        <div v-on:vnode-mounted="onDeckRowRightClick(props.row)"></div>
                                    </q-popup-proxy>
                                </q-item>
                            </q-td>
                        </q-tr>
                    </template>
                </q-table>
            </q-card>
        </q-drawer>
    </div>
</template>
<script>
import { ref } from 'vue'
import { usePtcgStore } from '../stores/ptcg-store'
// import { Dialog } from 'quasar'
import { Notify } from 'quasar'
import { LocalStorage } from 'quasar'
import { exportFile } from 'quasar'
const StrapiController = require('../lib/StrapiController.js');
const strapi = new StrapiController(process.env.STRAPI_URL);

let ptcg = usePtcgStore();

let loadDeck = (deckCode, noNotify) => {
    let existingDeck = ptcg.decks.find(x => x.deckCode === deckCode)
    if (existingDeck) {
        onDeckSelected(existingDeck)
        return;
    }

    return strapi
        .GetDeck(deckCode, true)
        .then(deck => {
            if (deck === undefined) {
                notify('請輸入有效的牌組代碼', 'negative');
                return;
            }
            let deckObj = {
                name: deck['Name'],
                orgName: deck['Name'],
                deckCode: deck['DeckCode'],
                orgDeckCode: deck['DeckCode'],
                cards: deck['cards'],
                orgCards: deck['cards']
            };

            ptcg.decks.push(deckObj);
            onDeckSelected(deckObj)

            if (!noNotify) {
                notify(`已載入牌組 ${deckObj.name}`, 'positive');
            }

            saveToLocalStorge()

            return
        })
        .finally(() => { return })
}

let newDeck = () => {
    let deckObj = {
        name: '新牌組',
        orgName: '新牌組',
        DeckCode: undefined,
        orgDeckCode: `[New Deck]${+ new Date()}`,
        cards: [],
        orgCards: []
    };

    ptcg.decks.push(deckObj);
    onDeckSelected(deckObj)

    notify('已新增空白牌組', 'info');

    saveToLocalStorge()
}

let uploadDeck = (deck) => {
    let orgDeck = deck;
    if (deck.expanded) {
        deck = getFoldedDeck(deck)
    }
    if (isDeckValid(deck)) {
        console.log('upload deck api')
        strapi
            .CreateDeck(deck)
            .then(res => {
                console.log(res)
                if (res.result === 'success') {
                    loadDeck(res.data['DeckCode'], true)
                        .then(() => {
                            if (isNewDeck(orgDeck)) {
                                onDeckRemove(null, orgDeck)
                            } else {
                                orgDeck.name = orgDeck.orgName
                                orgDeck.cards = orgDeck.orgCards
                                orgDeck.edited = false
                            }
                            notify(`已儲存 ${deck.name} 牌組代碼:${res.data['DeckCode']}`, 'positive')

                            saveToLocalStorge()
                        })
                }
            })
    }
}

let isNewDeck = (deck) => {
    return deck?.orgDeckCode?.startsWith('[New Deck]')
}

let isDeckValid = (deck) => {
    // let deckLimit = 60
    let cardLimit

    if (isEmptyOrSpaces(deck.name)) {
        notify('請輸入牌組名稱', 'negative');
        return false
    }

    // let totalCards = 0
    let cardMap = new Map()
    // deck.cards.forEach(cardObj => {
    //     if (cardMap.has(cardObj.Card.CardId)) {
    //         let cardRef = cardMap.get(cardObj.Card.CardId)
    //         cardRef.Count += cardObj.Count
    //     } else {
    //         let cardRef = {
    //             Count: cardObj.Count,
    //             Card: cardObj.Card
    //         }
    //         cardMap.set(cardObj.Card.CardId, cardRef)
    //     }
    //     totalCards += cardObj.Count
    // });
    // if (totalCards != deckLimit) {
    //     console.log(`totalCards: ${totalCards}`)
    //     notify(`牌組卡數必須是${deckLimit}張`, 'negative');
    //     return false
    // }

    let overLimitCards = []
    cardMap.forEach(cardRef => {
        switch (cardRef.Card.Category) {
            case 'energy':
                cardLimit = 60
                break;
            default:
                cardLimit = 4
                break;
        }
        if (cardRef.Count > cardLimit) {
            overLimitCards.push(`${cardRef.Card.Name} ${cardRef.Count}張`)
        }
    });
    if (overLimitCards.length > 0) {
        notify(`下列卡牌的數量超出限制:\n${overLimitCards.join(', ')}`, 'negative');
        return false
    }

    return true
}

let toggleSelectedDeckFold = () => {
    if (ptcg.selectedDeck.expanded) {
        ptcg.selectedDeck = getFoldedDeck(ptcg.selectedDeck)
    } else {
        ptcg.selectedDeck = getExpandedDeck(ptcg.selectedDeck)
    }

    let index
    ptcg.decks.forEach((deck, i) => {
        if (deck.deckCode === ptcg.selectedDeck.deckCode) {
            index = i
        }
    });

    ptcg.decks.splice(index, 1, ptcg.selectedDeck);
}

let getExpandedDeck = (deck) => {
    let deckClone = JSON.parse(JSON.stringify(deck))
    let cards = []
    deckClone.cards.forEach(card => {
        let count = card.Count
        card.Count = 1
        for (let i = 0; i < count; i++) {
            cards.push(card)
        }
    });
    deckClone.cards = cards
    deckClone.expanded = true
    return deckClone
}

let getFoldedDeck = (deck) => {
    let deckClone = JSON.parse(JSON.stringify(deck))
    let cardMap = new Map()
    deckClone.cards.forEach(cardObj => {
        if (!cardMap.has(cardObj.Card.CardId)) {
            cardMap.set(cardObj.Card.CardId, cardObj)
        } else {
            let ref = cardMap.get(cardObj.Card.CardId)
            ref.Count += 1
            cardMap.set(cardObj.Card.CardId, ref)
        }
    });
    let cards = []
    cardMap.forEach((cardObj) => {
        cards.push(cardObj)
    });
    deckClone.cards = cards
    deckClone.expanded = false
    return deckClone
}

let onDeckSelected = (deck) => {
    ptcg.selectedDeck = deck;
    console.log(`onDeckSelected: deck.name=${ptcg.selectedDeck.name} deck.code=${ptcg.selectedDeck.deckCode}`);
}

let onDeckRemove = (evt, deck) => {
    console.log(`onDeckRemove: deck.name=${deck.name} deck.code=${deck.deckCode}`);

    ptcg.decks.forEach((item, index) => {
        if (item.deckCode === deck.deckCode && item.orgDeckCode === deck.orgDeckCode) {
            ptcg.decks.splice(index, 1)
        }
    });

    if (ptcg.selectedDeck.deckCode === deck.deckCode) {
        ptcg.selectedDeck = defaultDeck
    }

    saveToLocalStorge()

    if (evt) {
        evt.stopPropagation()
    }
}

let onCardRowClick = (data) => {
    ptcg.objectRef.drawer.selectedCard = data
}

let onCardRowRightClick = (data) => {
    addCardToDeck(ptcg.selectedDeck, data, 1)
}

let onDeckRowRightClick = (data) => {
    removeCardFromDeck(ptcg.selectedDeck, data, 1)
}

let addCardToDeck = (deck, card, count) => {
    if (deck.cards === undefined) {
        return
    }

    let deckLimit = 60
    let cardLimit
    switch (card.Category) {
        case 'energy':
            cardLimit = 60
            break;
        default:
            cardLimit = 4
            break;
    }
    let targetCardCount = count
    deck.cards.forEach(cardObj => {
        if (cardObj.Card.Name === card.Name) {
            targetCardCount += cardObj.Count
        }
    });
    if (targetCardCount > cardLimit) {
        notify(`最多只能放入${cardLimit}張 ${card.Name}`, 'negative');
        return
    }

    if (deck.expanded) {
        let newCard = {
            Count: count,
            Card: card,
        }
        deck.cards.push(newCard)
        console.log(`Added: ${card.Name} CurrentCount: ${count}`)
    } else {
        let added = false;
        deck.cards.forEach(cardObj => {
            if (!added && cardObj.Card.CardId === card.CardId) {
                cardObj.Count += 1
                added = true
                console.log(`Added: ${card.Name} CurrentCount: ${cardObj.Count}`)
            }
        });
        if (!added) {
            let newCard = {
                Count: count,
                Card: card,
            }
            deck.cards.push(newCard)
            console.log(`Added: ${card.Name} CurrentCount: ${count}`)
        }

        notify(`已加入 ${card.Name} 至牌組`, 'info')
    }

    ptcg.selectedDeck.edited = true

    let totalCards = 0
    deck.cards.forEach(cardObj => {
        totalCards += cardObj.Count
    });
    if (totalCards > deckLimit) {
        console.log(`totalCards: ${totalCards}`)
        notify(`${deck.name}的牌組卡數已超過上限(${deckLimit}張)`, 'warning');
    }
}

let removeCardFromDeck = (deck, cardObj, count) => {
    cardObj.Count -= count
    if (cardObj.Count <= 0) {
        let index = deck.cards.indexOf(cardObj)
        if (index === -1) {
            deck.cards.forEach((x, i) => {
                if (x.Card.CardId === cardObj.Card.CardId) {
                    index = i
                }
            });
        }
        deck.cards.splice(index, 1);
    }
    console.log(`Removed: ${count} ${cardObj.Card.Name} CurrentCount: ${cardObj.Count}`)
    ptcg.selectedDeck.edited = true
}

let startDrag = (evt, type, triggerLocation, item) => {
    evt.dataTransfer.dropEffect = 'move'
    evt.dataTransfer.effectAllowed = 'move'
    evt.dataTransfer.setData('type', type)
    evt.dataTransfer.setData('item', JSON.stringify(item))
    evt.dataTransfer.setData('triggerLocation', triggerLocation)
}

let onDrop = (evt, triggerLocation) => {
    let type = evt.dataTransfer.getData('type')
    switch (type) {
        case 'AddRemoveCard':
            let form = evt.dataTransfer.getData('triggerLocation')
            let to = triggerLocation

            if (form != to) {
                switch (form) {
                    case 'deck':
                        let cardObj = JSON.parse(evt.dataTransfer.getData('item'))
                        switch (to) {
                            case 'cardList':
                                removeCardFromDeck(ptcg.selectedDeck, cardObj, cardObj.Count)
                                break;

                            case 'space':
                                removeCardFromDeck(ptcg.selectedDeck, cardObj, cardObj.Count)
                                break;
                        }
                        break;

                    case 'cardList':
                        let card = JSON.parse(evt.dataTransfer.getData('item'))
                        switch (to) {
                            case 'deck':
                                addCardToDeck(ptcg.selectedDeck, card, 1)
                                break;
                        }
                        break;
                }
            }
            break;
    }

    evt.stopPropagation()
}

let onCardAttributeFilterClick = (attribute) => {
    ptcg.objectRef.cardListObj.attributeFilter = attribute
    onCardListRequest(ptcg.objectRef.cardListObj)
}

let onCardCategoryFilterClick = (category) => {
    ptcg.objectRef.cardListObj.categoryFilter = category
    onCardListRequest(ptcg.objectRef.cardListObj)
}

let onCardPackFilterClick = (pack) => {
    ptcg.objectRef.cardListObj.packFilter = pack
    onCardListRequest(ptcg.objectRef.cardListObj)
}

let onCardNameFilterChange = (name) => {
    ptcg.objectRef.cardListObj.nameFilter = name
    onCardListRequest(ptcg.objectRef.cardListObj)
}

// emulate ajax call
// SELECT * FROM ... WHERE...LIMIT...
let fetchFromServer = (page, rowsPerPage, filter, sortBy, descending, nameFilter, attributeFilter, categoryFilter, packFilter) => {
    let params = {
        sort: sortBy,
        desc: descending,
        page: page,
        pageSize: rowsPerPage,
        filter: filter,
        nameFilter: nameFilter,
        attributeFilter: attributeFilter,
        categoryFilter: categoryFilter,
        packFilter: packFilter,
    }
    // console.log(JSON.stringify(params))
    return strapi.GetCard(params)
        .then(res => {
            return res
        })
        .catch(error => {
            console.log(JSON.stringify(error))
            return []
        })
}

let getRowsNumberCount = (filter, nameFilter, attributeFilter, categoryFilter) => {
    let params = {
        page: 1,
        pageSize: 1,
        getCountOnly: true,
        filter: filter,
        nameFilter: nameFilter,
        attributeFilter: attributeFilter,
        categoryFilter: categoryFilter,
    }
    return strapi.GetCard(params)
        .then(count => {
            // console.log(JSON.stringify(count))
            return count
        })
        .catch(error => {
            console.log(error)
            return 0
        })
}

let changeDeckBuilderUiMode = (mode) => {
    ptcg.deckBuilderUiMode = mode
    switch (ptcg.deckBuilderUiMode) {
        case 1:
            ptcg.objectRef.cardListObj.pagination.rowsPerPage = 10
            break;
        case 2:
            ptcg.objectRef.cardListObj.pagination.rowsPerPage = 50
            break;
    }
}
changeDeckBuilderUiMode(2)

let onCardListRequest = (props) => {
    console.log('onCardListRequest')
    props.loading = true

    // const props = ptcg.objectRef.cardListObj
    let filter = props.filter
    let pagination = props.pagination
    let page = pagination.page
    let rowsPerPage = pagination.rowsPerPage
    // const rowsNumber = pagination.rowsNumber
    let sortBy = pagination.sortBy
    let descending = pagination.descending
    // console.log(`Fetching page : ${page}/${rowsPerPage}`)

    let nameFilter = ptcg.objectRef.cardListObj.nameFilter
    let attributeFilter = ptcg.objectRef.cardListObj.attributeFilter.value
    let categoryFilter = ptcg.objectRef.cardListObj.categoryFilter.value
    let packFilter = ptcg.objectRef.cardListObj.packFilter.value

    // update rowsCount with appropriate value
    getRowsNumberCount(filter, nameFilter, attributeFilter, categoryFilter)
        .then(rowsNumberCount => {
            pagination.rowsNumber = rowsNumberCount

            // fetch data from "server"
            fetchFromServer(page, rowsPerPage, filter, sortBy, descending, nameFilter, attributeFilter, categoryFilter, packFilter)
                .then(returnedData => {
                    // console.log(JSON.stringify(returnedData))
                    ptcg.cards.splice(0, ptcg.cards.length, ...returnedData)

                    const objPagination = ptcg.objectRef.cardListObj.pagination
                    objPagination.page = page
                    objPagination.rowsPerPage = rowsPerPage
                    objPagination.rowsNumber = rowsNumberCount
                    objPagination.sortBy = sortBy
                    objPagination.descending = descending
                })
                .catch(error => {
                    console.log(error)
                })
                .finally(() => {
                    props.loading = false
                })
        })

}
onCardListRequest(ptcg.objectRef.cardListObj)

let saveToLocalStorge = () => {
    LocalStorage.set('ptcg.decks', ptcg.decks)
}

let loadFromLocalStorge = () => {
    if (LocalStorage.has('ptcg.decks')) {
        ptcg.decks = LocalStorage.getItem('ptcg.decks')
    }
}

// const dialog = (message, title) => {
//     Dialog.create({
//         title: title ? title : '提示',
//         message: message
//     })
// }

const notify = (message, type) => {
    Notify.create({
        type: type ? type : 'info',
        message: message
    })
}

let exportTable = (fileName, data) => {
    // naive encoding to csv format
    const content = JSON.stringify(data, null, 4)

    const status = exportFile(
        `${fileName}.json`,
        content,
        'text/json'
    )

    if (status !== true) {
        notify('Browser denied file download...', 'negative')
    }
    return
}

let copyToClipboard = (text, title) => {
    navigator.clipboard.writeText(text)

    notify(`${title ? title : text} 已複製至剪貼薄`, 'positive')
}

let isTextImage = (data) => {
    return data === 'Image'
}

let isEmptyOrSpaces = (str) => {
    return str === null || str.match(/^ *$/) !== null;
}

let createRoomWithSingleMode = () => {
    if (!ptcg.selectedDeck.deckCode) {
        notify('請選擇出戰牌組', 'negative')
        return
    }

    const { io } = require('socket.io-client');
    let socket = io.connect(process.env.SERVER_URL);
    console.log(`User:${socket.id} creating room`);
    socket.emit('create room');
    socket.once('create room result', function (data) {
        if (data.result != 'success') {
            console.log(data);
            dialog(data.reason, '創建房間失敗');
            window.location.reload();
            return;
        }

        console.log(`User:${socket.id} created room ${data.token} with password ${data.password}`);
        redirectToGameClient(data.token);
    })
}

let redirectToGameClient = (token) => {
    let selectedDeck = {
        name: ptcg.selectedDeck.name,
        deckCode: ptcg.selectedDeck.deckCode
    }
    let data = {
        token: token,
        id: ptcg.userId,
        name: ptcg.userName,
        selectedDeck: selectedDeck,
        singleMode: true,
    }
    let encrtptData = encrypt(data);
    var newUrl = `${process.env.GAME_CLIENT_URL}?cipher=${encrtptData}`;
    console.log(newUrl);

    saveToLocalStorge()

    window.location.href = newUrl;
}

let encrypt = (data) => {
    let json = JSON.stringify(data);
    return btoa(unescape(encodeURIComponent(json)));
};

const deckColumns = [
    {
        name: 'Name',
        required: true,
        label: '卡名',
        align: 'left',
        field: rows => rows.Card.Name,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'CardIdSearch',
        required: true,
        label: 'ID',
        align: 'left',
        field: rows => rows.Card.CardId,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Category',
        required: true,
        label: '類別',
        align: 'left',
        field: rows => rows.Card.Category,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Image',
        required: true,
        label: '圖片',
        align: 'left',
        field: rows => rows.Card.Image,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Count',
        required: true,
        label: '數量',
        align: 'left',
        field: rows => rows.Count,
        format: val => `${val}`,
        sortable: true
    },
];

const cardColumns = [
    {
        name: 'CardIdSearch',
        required: true,
        label: 'ID',
        align: 'left',
        field: rows => rows.CardId,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Name',
        required: true,
        label: '卡名',
        align: 'left',
        field: rows => rows.Name,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Category',
        required: true,
        label: '類別',
        align: 'left',
        field: rows => rows.Category,
        format: val => `${val}`,
        sortable: true
    },
    {
        name: 'Image',
        required: true,
        label: '圖片',
        align: 'left',
        field: rows => rows.Image,
        format: val => `${val}`,
        sortable: true
    },
];

// ptcg.deckCode = 'bb0zhf'
let defaultDeck = { name: '未選擇' }
ptcg.selectedDeck = defaultDeck
ptcg.objectRef.drawer = {
    selectedCard: {}
}
ptcg.attributes = [
    {
        name: '任何',
        value: undefined,
    },
    {
        name: '無色',
        value: 'Colorless',
    },
    {
        name: '草',
        value: 'Grass',
    },
    {
        name: '火',
        value: 'Fire',
    },
    {
        name: '水',
        value: 'Water',
    },
    {
        name: '電',
        value: 'Lightning',
    },
    {
        name: '格鬥',
        value: 'Fighting',
    },
    {
        name: '超能',
        value: 'Psychic',
    },
    {
        name: '惡',
        value: 'Darkness',
    },
    {
        name: '鋼',
        value: 'Metal',
    },
    {
        name: '龍',
        value: 'Dragon',
    },
    {
        name: '妖精',
        value: 'Fairy',
    },
]
ptcg.categories = [
    {
        name: '任何',
        value: undefined,
    },
    {
        name: '寶可夢',
        value: 'pokemon',
    },
    {
        name: '能量',
        value: 'energy',
    },
    {
        name: '訓練家',
        value: 'trainer',
    },
    {
        name: '道具',
        value: 'tool',
    },
    {
        name: '競技場',
        value: 'stadium',
    },
    {
        name: '物品',
        value: 'item',
    },
    {
        name: '支援者',
        value: 'supporter',
    },
]
ptcg.packs = [
    {
        name: '任何',
        value: undefined,
    }, {
        name: 's10b Pokemon GO',
        value: 's10b',
    },
    {
        name: 's10a 黑暗亡靈',
        value: 's10a',
    },
    {
        name: 's10D 時間觀察者',
        value: 's10D',
    },
    {
        name: 's10P 空間魔術師',
        value: 's10P',
    },
    {
        name: 's9 星星誕生',
        value: 's9',
    },
    {
        name: 's9a 對戰地區',
        value: 's9a',
    },
    {
        name: 's8b VMAX絕群壓軸',
        value: 's8b',
    },
    {
        name: 's8a 25週年收藏版',
        value: 's8a',
    },
    {
        name: 's8a-G 25週年黃金紀念箱',
        value: 's8a-G',
    },
    {
        name: 's8a-P 25週年特典卡',
        value: 's8a-P',
    },
    {
        name: 's8 匯流藝術',
        value: 's8',
    },
    {
        name: 's7r 蒼空烈流',
        value: 's7r',
    },
    {
        name: 's7d 摩天巔鋒',
        value: 's7d',
    },
    {
        name: 's6a 伊布英雄',
        value: 's6a',
    },
    {
        name: 's6k 漆黑幽魂',
        value: 's6k',
    },
    {
        name: 's6h 銀白戰槍',
        value: 's6h',
    },
    {
        name: 's5a 雙璧戰士',
        value: 's5a',
    },
    {
        name: 's5r 連擊大師',
        value: 's5r',
    },
    {
        name: 's5I 一擊大師',
        value: 's5I',
    },
    {
        name: 's4 驚天伏特攻擊',
        value: 's4',
    },
    {
        name: 's4a 閃色明星V',
        value: 's4a',
    },
    {
        name: 'sc2a 無極力量 SET A',
        value: 'sc2a',
    },
    {
        name: 'sc2b 無極力量 SET B',
        value: 'sc2b',
    },
    {
        name: 'sc1a 劍&盾 SET A',
        value: 'sc1a',
    },
    {
        name: 'sc1b 劍&盾 SET B',
        value: 'sc1b',
    },
    {
        name: 'sp5 特別卡組 V-UNION',
        value: 'sp5',
    },
    {
        name: 'SP 特典卡劍&盾',
        value: 'SP',
    },
    {
        name: 'sll 起始組合VSTAR 路卡利歐',
        value: 'sll',
    },
    {
        name: 'sld 起始組合VSTAR 達克萊伊',
        value: 'sld',
    },
    {
        name: 'sk 頂級訓練家收藏箱VSTAR',
        value: 'sk',
    },
    {
        name: 'sJ 特別牌組組合 蒼響．藏瑪然特VS無極汰那',
        value: 'sJ',
    },
    {
        name: 'sI 初階牌組100',
        value: 'sI',
    },
    {
        name: 'sH 家庭組合',
        value: 'sH',
    },
    {
        name: 'scD V起始牌組 強大',
        value: 'scD',
    },
    {
        name: 'scC V起始牌組 進化',
        value: 'scC',
    },
    {
        name: 'sc2D 無極力量 V起始牌組',
        value: 'sc2D',
    },
    {
        name: 'scB V起始牌組 挑戰',
        value: 'scB',
    },
    {
        name: 'sc1D 劍&盾 V起始牌組',
        value: 'sc1D',
    },
    {
        name: 'scA V起始牌組 搭檔',
        value: 'scA',
    },
    {
        name: 'SMAC 標準賽制復刻表',
        value: 'SMAC',
    },
]
ptcg.objectRef.cardListObj.attributeFilter = ptcg.attributes[0]
ptcg.objectRef.cardListObj.categoryFilter = ptcg.categories[0]
ptcg.objectRef.cardListObj.packFilter = ptcg.packs[0]

loadFromLocalStorge()

export default {
    setup() {
        return {
            exportTable,
            loadDeck,
            newDeck,
            isNewDeck,
            isTextImage,
            uploadDeck,
            toggleSelectedDeckFold,
            changeDeckBuilderUiMode,
            addCardToDeck,
            startDrag,
            onDrop,
            copyToClipboard,
            onDeckSelected,
            onDeckRemove,
            onCardRowClick,
            onCardRowRightClick,
            onDeckRowRightClick,
            onCardListRequest,
            onCardNameFilterChange,
            onCardPackFilterClick,
            onCardAttributeFilterClick,
            onCardCategoryFilterClick,
            createRoomWithSingleMode,
            userName: ref(''),
            drawer: ref(''),
            deckFilter: ref(''),
            isCardListFullScreen: false,
            deckColumns,
            cardColumns,
            ptcg,
            deckPagination: {
                sortBy: 'Name',
                descending: false,
                page: 1,
                rowsPerPage: 0
                // rowsNumber: xx if getting data from a server
            },
        }
    },
}
</script>
