<template>
  <div id="phaser-example">

  </div>
</template>
<script lang="ts">
// import Phaser from 'phaser';
// import Game from '../phaser/src/scenes/game'
import { loadScript } from "vue-plugin-load-script";

let phaserInterval = setInterval(() => {
  if (document.readyState === "complete") {
    // Fully loaded!
    clearInterval(phaserInterval)
    
    console.log('GameClient.vue: Preparing Phaser...');

    loadScript("https://ptcgworld.blob.core.windows.net/gameasset/bundle.min.js")
      .then(() => {
        // Script is loaded, do something
        console.log(`Script is loaded`)
      })
      .catch(() => {
        // Failed to fetch script
        console.log(`Failed to fetch script`)
      });

    console.log('GameClient.vue: Phaser is ready');
  }
}, 100)

export default {
  setup() {
    return {
    }
  },
}
</script>
