<template>
  <q-page class="row items-center justify-evenly">
    <div class="row">
      <div class="col q-pa-md">
        <q-card class="my-card" @click="this.$router.push('/witness-night')">
          <img src="https://shoplineimg.com/58a2ff7159d5240cd200049b/5f7704c8db47bc00326aa8e2/800x.webp?source_format=jpg">

          <q-card-section>
            <div class="text-h6">目擊者之夜</div>
            <div class="text-subtitle2">遊玩人數: 6人</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            {{ lorem }}
          </q-card-section>
        </q-card>
      </div>
      <div class="col q-pa-md">
        <q-card class="my-card" @click="this.$router.push('/ptcg')">
          <img src="https://www.kktcg.com/wp-content/uploads/2016/07/PTCG-Chinese-600-x-600.png">

          <q-card-section>
            <div class="text-h6">PTCG</div>
            <div class="text-subtitle2">遊玩人數: 2人</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            {{ lorem }}
          </q-card-section>
        </q-card>
      </div>
      <div class="col q-pa-md">
        <q-card class="my-card">
          <img src="https://cdn.quasar.dev/img/mountains.jpg">

          <q-card-section>
            <div class="text-h6">TEST</div>
            <div class="text-subtitle2">遊玩人數: x人</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            {{ lorem }}
          </q-card-section>
        </q-card>
      </div>
    </div>



  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'IndexPage',
});
</script>
