<template>
  <q-page class="row items-center justify-evenly">
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

window.location.href = `/#/room`
console.log(`Redirecting to room page`)

export default defineComponent({
  name: 'RedirectPage',
});
</script>
