<template>
  <q-page-container class="" style="padding: 0px">
    <q-page>
      <div>
        <q-item class="row">

          <q-item-section>
            <h4>房間
            </h4>
          </q-item-section>
          <q-item-section side>

            <div v-if="!ptcg.discord.loggedIn">
              <q-item>
                <q-item-section>
                  <q-btn label="連結Discord" color="primary" no-caps class="q-mr-sm" @click="connectToDiscord()" />
                </q-item-section>
              </q-item>
            </div>
            <div v-if="ptcg.discord.loggedIn">
              <q-btn-dropdown color="primary" size="md" no-caps>
                <template v-slot:label>
                  {{ `${ptcg.discord.user.username}#${ptcg.discord.user.discriminator}` }}
                </template>

                <q-list>
                  <q-item clickable @click="disconnectFromDiscord()">
                    <q-item-section>
                      <q-item-label>
                        取消連結Discord
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
            </div>
          </q-item-section>
        </q-item>

        <div class="row q-pt-sm">
          <div class="col q-px-md ">
            <q-input id="userName" debounce="500" outlined v-model="ptcg.userName"
              @update:model-value="setName(ptcg.userName)" label="暱稱" />
          </div>
          <div class="col-2 q-px-md">
            <q-btn-dropdown split color="primary" v-if="!ptcg.roomToken" class="full-width" label="創建房間" size="lg"
              :dropdown-icon="ptcg.createRoomPassword.length > 0 ? 'key' : 'key_off'"
              @click="createRoom(ptcg.createRoomPassword)">

              <q-card style="min-width: 350px">
                <q-card-section>
                  <div class="text-h6">房間密碼</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-input dense filled v-model="ptcg.createRoomPassword" type="text" hint="請輸入房間密碼" maxlength="10"
                    :rules="[val => val.length <= 10 || '請輸入最多10個位的密碼']" />
                </q-card-section>
              </q-card>
            </q-btn-dropdown>
          </div>
        </div>

        <div class="row q-pt-sm">
          <div class="col q-px-md">
            <q-input id="userName" outlined v-model="ptcg.deckCode" label="牌組代碼" />
          </div>
          <div class="col-2 q-px-md">
            <q-btn color="primary" class="full-width" label="載入牌組" size="lg" @click="loadDeck(ptcg.deckCode)" />
          </div>
        </div>

        <div class="row q-pt-sm">
          <div class="col q-px-md ">
            <q-btn-dropdown id="selectedDeck" class="full-width" color="primary" size="md"
              :label="`出戰牌組: ${ptcg.selectedDeck.name}`">
              <q-list>
                <q-item v-for="deck in ptcg.decks" :key="deck.url" clickable v-close-popup
                  @click="onDeckSelected(deck)">
                  <q-item-section>
                    <q-item-label>{{ deck.name }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn flat round color="primary" icon="remove" @click="onDeckRemove($event, deck)">
                      <q-tooltip>從列表移除</q-tooltip>
                    </q-btn>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col-12 q-pa-md">
            <q-table title="房間列表"
              :rows="ptcg.getList.filter(room => room.users.length > 0 || ptcg.roomToken == room.id)" :columns="columns"
              row-key="name" :pagination="initialPagination" no-data-label="找不到房間">

              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th v-for="col in props.cols" :key="col.name" :props="props">
                    {{ col.label }}
                  </q-th>
                  <q-th auto-width />
                </q-tr>
              </template>

              <template v-slot:body="props">
                <q-tr v-if="!ptcg.roomToken || ptcg.roomToken == props.row.id" :props="props">
                  <q-td v-for="col in props.cols" :key="col.name" :props="props">
                    {{ col.value }}
                    <q-icon v-if="col.name === 'Room Name' && props.row.hasPssword" right name="key" />
                  </q-td>
                  <q-td auto-width>
                    <q-btn color="primary" class="full-width" label="加入" size="md" @click="joinRoom(props.row)" />
                  </q-td>
                </q-tr>
              </template>

            </q-table>
          </div>
        </div>
      </div>

      <q-dialog v-model="ptcg.passwordPrompt">
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">房間密碼</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-input dense filled v-model="ptcg.joinRoomPassword" type="text" :hint="`請輸入${ptcg.roomName}的密碼`"
              @keyup.enter="enterPassword" />
          </q-card-section>

          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="取消" v-close-popup />
            <q-btn flat label="確定" @click="enterPassword" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-page>
  </q-page-container>
  <div id="container"></div>
</template>

<script>
import { ref } from 'vue'
import { usePtcgStore } from '../stores/ptcg-store'
import { Dialog } from 'quasar'
import { Notify } from 'quasar'
import { LocalStorage } from 'quasar'
const StrapiController = require('../lib/StrapiController.js');
const strapi = new StrapiController(process.env.STRAPI_URL);

let ptcg = usePtcgStore();

const { io } = require('socket.io-client');
// const gameClientUrl = 'http://localhost:3010';
// const gameClientUrl = 'http://ptcg-game-dev.20.195.96.229.nip.io';
// const serverUrl = '127.0.0.1:3000';
// const serverUrl = 'http://ptcg-socket-dev.20.195.96.229.nip.io';
let socket = io.connect(process.env.SERVER_URL);
// let socket = io.connect(serverUrl);

socket.on('connect', () => {
  console.log('Connected to server: ' + process.env.SERVER_URL);
  ptcg.userId = socket.id;
});

socket.on('room list', function (data) {
  console.log('room list: ' + JSON.stringify(data.rooms));
  ptcg.setList(data.rooms);
});

socket.on('update name', function (data) {
  ptcg.userName = data.name;
});

let setName = (name) => {
  ptcg.userName = name;
  socket.emit('set name', { 'name': name });
  console.log(`User:${socket.id} updated name to ${name}`);

  saveToLocalStorge()
}

let loadDeck = (deckCode) => {
  let existingDeck = ptcg.decks.find(x => x.deckCode === deckCode)
  if (existingDeck) {
    ptcg.selectedDeck = existingDeck;
    return;
  }

  strapi.GetDeck(deckCode, true).then(deck => {
    if (deck === undefined) {
      notify('請輸入有效的牌組代碼', 'negative');
      return;
    }
    let deckObj = {
      name: deck['Name'],
      orgName: deck['Name'],
      deckCode: deck['DeckCode'],
      orgDeckCode: deck['DeckCode'],
      cards: deck['cards'],
      orgCards: deck['cards']
    };

    ptcg.decks.push(deckObj);
    ptcg.selectedDeck = deckObj;

    notify(`已載入牌組 ${deckObj.name}`);

    saveToLocalStorge()
  })
}

let createRoom = (password) => {
  if (!ptcg.userName) {
    notify('請輸入你的暱稱', 'negative');
    return
  }
  if (!ptcg.selectedDeck.deckCode) {
    notify('請選擇出戰牌組', 'negative')
    return
  }

  let content = {}
  if (password !== undefined && password.length > 0) {
    if (password.length > 10) {
      notify('請輸入最多10個位的密碼', 'negative');
      return
    }
    content.password = password
  }

  console.log(`User:${socket.id} creating room`);
  socket.emit('create room', content);
  socket.once('create room result', function (data) {
    if (data.result != 'success') {
      console.log(data);
      dialog(data.reason, '創建房間失敗');
      window.location.reload();
      return;
    }

    console.log(`User:${socket.id} created room ${data.token} with password ${data.password}`);
    redirectToGameClient(data.token, data.password);
  })
}

let joinRoom = (room) => {
  if (!ptcg.userName) {
    notify('請輸入你的暱稱', 'negative');
    return
  }
  if (!ptcg.selectedDeck.deckCode) {
    notify('請選擇出戰牌組', 'negative');
    return
  }

  ptcg.joinRoomToken = room.id

  if (room.hasPssword && ptcg.joinRoomPassword === undefined) {
    ptcg.roomName = room.name
    ptcg.passwordPrompt = true
    return
  }

  enterPassword()
}

let enterPassword = () => {
  ptcg.passwordPrompt = false

  let content = {
    token: ptcg.joinRoomToken
  }
  if (ptcg.joinRoomPassword !== undefined) {
    content.password = ptcg.joinRoomPassword
  }
  socket.emit('join room', content);
  socket.once('join room result', function (data) {
    if (data.result != 'success') {
      console.log(data);
      dialog(data.reason, '加入房間失敗');
      return;
    }

    redirectToGameClient(data.token, data.password);
  });
}

let redirectToGameClient = (token, password) => {
  let selectedDeck = {
    name: ptcg.selectedDeck.name,
    deckCode: ptcg.selectedDeck.deckCode
  }
  let data = {
    token: token,
    id: ptcg.userId,
    name: ptcg.userName,
    selectedDeck: selectedDeck,
    discordUser: ptcg.discord.user,
  }
  if (password !== undefined) {
    data.password = password
  }
  let encrtptData = encrypt(data);
  var newUrl = `${process.env.GAME_CLIENT_URL}?cipher=${encrtptData}`;
  console.log(newUrl);

  saveToLocalStorge()

  window.location.href = newUrl;
}

let onDeckSelected = (deck) => {
  console.log(`onDeckSelected: deck.name=${ptcg.selectedDeck.name} deck.code=${ptcg.selectedDeck.deckCode}`);
  ptcg.selectedDeck = deck;
}

let onDeckRemove = (evt, deck) => {
  console.log(`onDeckRemove: deck.name=${deck.name} deck.code=${deck.deckCode}`);

  ptcg.decks.forEach((item, index) => {
    if (item.deckCode === deck.deckCode) {
      ptcg.decks.splice(index, 1)
    }
  });

  if (ptcg.selectedDeck.deckCode === deck.deckCode) {
    ptcg.selectedDeck = defaultDeck
  }

  saveToLocalStorge()

  evt.stopPropagation()
}

let encrypt = (data) => {
  let json = JSON.stringify(data);
  return btoa(unescape(encodeURIComponent(json)));
};

const dialog = (message, title) => {
  Dialog.create({
    title: title ? title : '提示',
    message: message
  })
}

const notify = (message, type) => {
  Notify.create({
    type: type ? type : 'info',
    message: message
  })
}

let saveToLocalStorge = () => {
  LocalStorage.set('ptcg.userName', ptcg.userName)
  LocalStorage.set('ptcg.decks', ptcg.decks)
  LocalStorage.set('ptcg.discord', ptcg.discord)
}

let loadFromLocalStorge = () => {
  if (LocalStorage.has('ptcg.decks')) {
    ptcg.decks = LocalStorage.getItem('ptcg.decks')
  }
  if (LocalStorage.has('ptcg.userName')) {
    ptcg.userName = LocalStorage.getItem('ptcg.userName')
  }
  if (LocalStorage.has('ptcg.discord')) {
    ptcg.discord = LocalStorage.getItem('ptcg.discord')
  }
}

let loadDiscordToken = () => {
  let discordTokenInterval = setInterval(() => {
    if (document.readyState === "complete") {
      // Fully loaded!
      clearInterval(discordTokenInterval)

      const fragment = new URLSearchParams(window.location.search);
      const [code] = [fragment.get('code')];

      if (!code) {
        return
      }

      let redirect_uri = window.location.href.split('?')[0]

      console.log(`Discord code: ${code}`);
      console.log(`redirect_uri: ${redirect_uri}`);
      socket.emit('discord code', {
        code: code,
        redirect_uri: redirect_uri
      });
      socket.once('discord code result', function (data) {
        ptcg.discord.loggedIn = true
        ptcg.discord.user = data.user
        ptcg.userName = ptcg.discord.user.username

        console.log(`Discord user: ${JSON.stringify(ptcg.discord.user)}`);

        notify('已連結Discord')

        saveToLocalStorge()
      });
      window.history.replaceState({}, '', redirect_uri)
    }
  }, 100)
}

let getParameterByName = (name, url = window.location.href) => {
  name = name.replace(/[\[\]]/g, '\\$&');
  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'), results = regex.exec(url);
  if (!results) return undefined;
  if (!results[2]) return undefined;
  return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

let connectToDiscord = () => {
  let redirect_uri = `${window.location.href.split('?')[0]}`
  let url = `https://discord.com/api/oauth2/authorize?client_id=${process.env.DISCORD_CLIENT_ID}&redirect_uri=${encodeURIComponent(redirect_uri)}&response_type=code&scope=identify`
  // console.log(url)
  window.location.href = url
}

let checkCurrentUrl = () => {
  let currentUrl = `${window.location.href.split('?')[0]}`
  let queryUrl = `${window.location.href.split('?').slice(1)}`
  console.log(`baseUrl: ${window.location.href}`)
  console.log(`currentUrl: ${currentUrl}`)
  console.log(`queryUrl: ${queryUrl}`)
  if (!currentUrl.endsWith(`#/#/room`)) {
    let newUrl = `${currentUrl}#/#/room?${queryUrl}`
    console.log(`newUrl: ${newUrl}`)
    // window.location.href = newUrl
  }
}

let disconnectFromDiscord = () => {
  ptcg.discord.loggedIn = false
  ptcg.discord.user = null
  saveToLocalStorge()

  notify('已取消連結Discord')
}

const columns = [
  {
    name: 'Room Name',
    required: true,
    label: '房間名稱',
    align: 'left',
    field: rows => rows.name,
    format: val => `${val}`,
    sortable: true
  },
  {
    name: 'Players',
    required: true,
    label: '玩家',
    align: 'left',
    field: rows => rows.users,
    format: val => `${val}`,
    sortable: true
  }
];


// init
let defaultDeck = { name: '未選擇' }
ptcg.selectedDeck = defaultDeck

ptcg.roomToken = getParameterByName('token');
ptcg.joinRoomPassword = getParameterByName('password');

checkCurrentUrl()

loadFromLocalStorge()
loadDiscordToken()
setName(ptcg.userName)

export default {
  setup() {
    return {
      createRoom,
      joinRoom,
      setName,
      loadDeck,
      enterPassword,
      connectToDiscord,
      disconnectFromDiscord,
      onDeckSelected,
      onDeckRemove,
      userName: ref(''),
      columns,
      ptcg,
      initialPagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 20
        // rowsNumber: xx if getting data from a server
      },
    }
  },
}
</script>
