<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-12 q-px-md">
        <h3>目擊者之夜</h3>
      </div>

      <div class="col q-px-md">
        <q-input id="userName" outlined v-model="ptcg.userName" label="Your Name" />
      </div>
      <div class="col-2 q-px-md">
        <q-btn color="primary" class="full-width" label="SetName" size="lg" @click="setName(ptcg.userName)" />
      </div>
      <div class="col-3 q-px-md">
        <q-btn color="primary" class="full-width" label="Create Room" size="lg" @click="createRoom()" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 q-pa-md">
        <q-table title="Room List" :rows="ptcg.getList" :columns="columns" row-key="name"
          :pagination="initialPagination">

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn color="primary" class="full-width" label="Join" size="sm" @click="joinRoom(props.row.id)" />
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="text-left">This is expand slot for row above: {{ props.row.name }}.</div>
              </q-td>
            </q-tr>
          </template>

        </q-table>
      </div>
    </div>


  </div>
  <div id="container"></div>
</template>

<script>
import { ref } from 'vue'
import { usewnStore } from '../stores/wn-store'

let ptcg = usewnStore();

const { io } = require('socket.io-client');
// const gameClientUrl = 'http://localhost:3010';
// const gameClientUrl = 'http://wn-game-dev.20.195.96.229.nip.io';
// const serverUrl = '127.0.0.1:3000';
// const serverUrl = 'http://wn-socket-dev.20.195.96.229.nip.io';
let socket = io.connect(process.env.WN_SERVER_URL);

socket.on('connect', () => {
  console.log('Connected to server: ' + process.env.SERVER_URL);
});

socket.on('room list', function (data) {
  ptcg.setList(data.rooms);
});

socket.on('update name', function (data) {
  ptcg.userName = data.name;
});

let createRoom = () => {
  socket.emit('create room');
  socket.once('create room result', function (data) {
    if (data.result != 'success') {
      console.log(data);
      window.alert(data.reason);
      window.location.reload();
      return;
    }

    redirectToGameClient(data.token);
  })
}

let setName = (name) => {
  ptcg.userName = name;
  socket.emit('set name', { 'name': name });
  console.log(`User:${socket.id} updated name to ${name}`);
}

let joinRoom = (token) => {
  socket.emit('join room', { 'token': token });
  socket.once('join room result', function (data) {
    if (data.result != 'success') {
      console.log(data);
      window.alert(data.reason);
      return;
    }

    redirectToGameClient(data.token);
  });
}

let redirectToGameClient = (token) => {
  let data = {
    token: token,
    name: ptcg.userName,
  }
  let encrtptData = encrypt(data);
  var newUrl = `${process.env.GAME_CLIENT_URL}/?cipher=${encrtptData}`;
  window.location.href = newUrl;
}

const encrypt = (data) => {
  let json = JSON.stringify(data);
  return btoa(json);
};

const columns = [
  {
    name: 'room',
    required: true,
    label: 'Room Name',
    align: 'left',
    field: rows => rows.name,
    format: val => `${val}`,
    sortable: true
  },
  {
    name: 'users',
    required: true,
    label: 'Users',
    align: 'left',
    field: rows => rows.users,
    format: val => `${val}`,
    sortable: true
  }
];

export default {
  setup() {
    return {
      createRoom,
      joinRoom,
      setName,
      userName: ref(''),
      columns,
      ptcg,
      initialPagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 20
        // rowsNumber: xx if getting data from a server
      },
    }
  },
}
</script>
