<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          PTCG World
        </q-toolbar-title>

        <!-- <div>Quasar v{{ $q.version }}</div> -->
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered mini-to-overlay :mini="miniState"
      @mouseover="miniState = false" @mouseout="miniState = true">
      <q-list>
        <q-item-label header>
          Essential Links
        </q-item-label>

        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';

const linksList = [
  {
    title: '房間大廳',
    caption: '/#/room',
    icon: 'code',
    link: '/#/room'
  },
  {
    title: '牌組管理',
    caption: '/#/deck',
    icon: 'code',
    link: '/#/deck'
  },
  // {
  //   title: '卡片管理 (內部)',
  //   caption: '/card',
  //   icon: 'code',
  //   link: '/card'
  // },
  {
    title: 'Discord',
    caption: 'https://discord.gg/jxVtp4twPT',
    icon: 'chat',
    link: 'https://discord.gg/jxVtp4twPT'
  },
];

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup() {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      miniState: ref(true),
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  mounted() {
    // this.leftDrawerOpen = false
  }
});
</script>
